/* Default light mode styles */
:root {
	--grid-unit: 1rem;
	--border-radius-base: 0.5rem;
}

[data-theme="light"] {
	--color-bg: #ffffff;
	--color-fg: #111111;
}

[data-theme="dark"] {
	--color-bg: #111111;
	--color-fg: #ffffff;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--color-bg);
	color: var(--color-fg);
	transition: background-color 0.2s, color 0.2s;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

/* Style for the text within the hero section */

/* Style for the h2 and p tags */
.hero-text h2 {
	color: #333;
	font-family: Poppins;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
	line-height: 3.6875rem; /* 122.917% */
	margin-block: 0;
}

/* Style for the p tag */
.hero-text p {
	color: #333;
	font-family: Poppins;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.container {
	max-width: 87.5rem;
	margin: 0 auto;
}

.text-buttons-container {
	width: 100%;
}

h3 {
	text-transform: uppercase;
}

.hero-section {
	position: relative;
	background-image: url("hero_image.jpg"); /* Replace with your image path */
	background-size: cover;
	background-position: center;
	height: 60vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start; /* Align content to the left */
	width: 100%;
}

/* Light mode button */
#light-mode-button {
	/* Add your styles here */
	cursor: pointer;
	color: #f97432; /* Yellow color for the sun icon */
}

/* Dark mode button */
#dark-mode-button {
	/* Add your styles here */
	cursor: pointer;
	color: #666; /* Dark gray color for the moon icon */
}

.icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#toggle-mode:hover {
	color: #ccc;
}

.logo {
	font-weight: 400;
	font-size: 18px;
	margin-left: 4rem;
	color: var(--color-fg);
}
nav {
	display: flex;
	align-items: center;
	padding-right: 5rem;
	border-bottom: 1px solid lightgray;
}

.navigation {
	display: flex;
	list-style-type: none;
	margin-left: auto;
}

.navigation-items {
	margin: 10px;
}

/* Style anchor tags */
nav a {
	text-decoration: none;
	color: var(--color-fg); /* Use the current theme's text color */
	transition: color 0.3s;
}

nav a:hover {
	color: #f97432; /* Link text color on hover */
}

.about-me-container {
	/* background-color: transparent; */
	display: flex;
	align-items: center; /* Horizontally center within the parent */
	padding: 8em 1em;
	flex-direction: column;
}

@media (min-width: 768px) {
	.about-me-container {
		/* Now we want content in the same row */
		flex-direction: row;

		/* This keeps the size on desktop in check */
		max-width: 50rem;
		/* This will centre the content on desktop */
		margin: 0 auto;
	}
	.about-me-text-container {
		/* We moved width constrain into the desktop version */
		width: 60%;
	}
	.self-portrait {
		/* We moved width/height constraints into the desktop version */
		max-width: 40%;
		max-height: 400px;
	}

	.hire-button,
	.chat-button {
		width: auto; /* Use auto width on larger screens */
		margin-right: 10px; /* Add right margin on larger screens */
	}
}
/* Media query for screens with a maximum width of 767px (mobile) */
@media (max-width: 767px) {
	/* Stack buttons on top of each other for mobile */
	.hire-button,
	.chat-button {
		width: 100%;
		margin-right: 0;
	}
}
/* Style for the buttons */
.buttons {
	margin-top: 20px; /* Add spacing between the text and buttons */
	display: flex;
	justify-content: space-evenly;
}

.hire-button {
	padding: 10px 20px; /* Adjust padding as needed */
	margin-right: 10px; /* Add spacing between buttons */
	border: none;
	background-color: #f97432; /* Set button background color */
	color: #fff; /* Set button text color */
	font-size: 1rem; /* Adjust font size as needed */
	cursor: pointer;
	border-radius: 1.625rem; /* Add border-radius for rounded corners */
}

.hire-button:hover {
	color: #f55500; /* Change background color on hover */
	background-color: #ffffff;
}

.chat-button {
	border-radius: 1.625rem;
	border: 1px solid #ffffff;
	padding: 10px 20px; /* Adjust padding as needed */
	margin-right: 10px; /* Add spacing between buttons */
	color: #ffffff; /* Set button text color */
	font-size: 1rem; /* Adjust font size as needed */
	cursor: pointer;
	background-color: transparent;
}
.chat-button:hover {
	color: #f55500;
	border: 1px solid #f55500;
}

.about-me-text-container {
	display: block;
	width: 100%;
}

.project-text {
	text-align: center;
	color: rgb(239, 153, 41);
}

.self-portrait {
	margin: 10px;
	border-radius: 10px;

	/* Full width/height on mobile */
	max-height: 100%;
	width: 100%;
}

.video-card {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 3em;
}
.socials {
	display: flex;
	justify-content: space-between;
}

iframe {
	padding: 10px;
	border-radius: 20px;
	width: 30rem;
	height: 15rem;
}

.socials {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding-right: 100px;
}

footer {
	display: flex;
	justify-content: space-between; /* Horizontally center within the parent */
	align-content: center;
	padding: 2.5em;

	border-top: 1px solid lightgray;
}

.right-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-bottom: 80px;
}

/* Style anchor tags in the footer */
.left-footer a,
.lower-nav {
	text-decoration: none;
	color: var(--color-fg); /* Use the current theme's text color */
}

.left-footer a:hover,
.lower-nav:hover {
	color: #f97432; /* Link text color on hover */
}

.reserved {
	font-weight: 200;
	color: darkgray;
	border-top: 1px solid lightgray;
}
